* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 32px;
}

h2 {
	text-align: center;
}



.top-nav {
	display: flex;
	background: #000;
	min-height: 50px;
	overflow: hidden;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.top-nav a {
	color: #fff;
	text-decoration: none;
	border-bottom: 5px solid  #000;
	transition: .5s;
}
.top-nav a:hover {
	color: #047dbf;
	border-bottom: 5px solid  #047dbf;
}

.brand-text {
	font-size: 30px;
	margin-left: 15px;
}

.top-nav-list {
	display: flex;
	list-style: none;
	margin-left: auto;
}

.top-nav-list li {
	margin: 0px 15px;
}

.top-nav-list a {
	padding: 5px;
}

.full-screen-bg {
	height: calc(100vh - 50px);
	width: 100%;
	background-image: url("../images/large-yorkie.jpeg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: background-image .5s;
}

.flex-row{
	display: flex;
}

.col-4-2-1 {
	width: 23%;
	margin: 1%;
	padding: 10px;
}
.col-4-2-1 img {
	width: 75%;
}

@media (max-width: 1200px) {
	.full-screen-bg{
		background-image: url("../images/medium-puppy.jpeg");
	}
	.flex-row{
		flex-wrap: wrap;
	}
	.col-4-2-1 {
		width: 48%;


	}
}

@media (max-width: 600px) {
	.top-nav {
		display: block;
	}
	.full-screen-bg{
		background-image: url("../images/small-puppy.jpeg");
	}
	.col-4-2-1{
		width: 98%;
	}
}